/* Dashboard.css */
.dashboard {
  background-image: url('../assets/dashboard.png');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Garante que o background cubra toda a altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Posição relativa para facilitar o posicionamento absoluto */
  overflow-y: scroll;
}
