/* src/components/LandingPage.css */
.landing-page {
  background-image: url('../assets/landing.png'); /* Caminho para sua imagem de fundo */
  background-size: cover;
  background-position: top center; /* Ajuste para posicionar o topo da imagem no centro */
  height: 100vh; /* Garante que o background cubra toda a altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Posição relativa para facilitar o posicionamento absoluto */
}

.login-button {
  position: absolute;
  top: 0px; /* Ajuste a posição vertical do botão conforme necessário */
  right: 250px; /* Ajuste a posição horizontal do botão conforme necessário */
  width: 600px;
  height: 100px;
  background: transparent; /* Botão invisível */
  border: none;
  cursor: pointer;
  border: 1px black dashed;
  border-radius: 5px;
}
