body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.landing-page {
  background-color:silver;
  width: 100%;
  overflow-y: auto;
  background-image: url('../assets/landing.png');
  background-position: center top;
  background-repeat: no-repeat;
  height: 6000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-button {
  position: absolute;
  top: 0px; /* Ajuste a posição vertical do botão conforme necessário */
  right: 250px; /* Ajuste a posição horizontal do botão conforme necessário */
  width: 600px;
  height: 100px;
  background: transparent; /* Botão invisível */
  border: none;
  cursor: pointer;
  border: 1px black dashed;
  border-radius: 5px;
}
